$primary: black;
$warning: rgb(238, 226, 90);
$success: rgb(237, 141, 168);
$info: rgb(159, 72, 159);
$accordion-color: black;
$danger: rgb(20, 4, 110);
$card-border-color: rgb(20, 4, 110);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
