$primary: black;
$warning: rgb(253, 241, 112);
$success: rgb(255, 211, 227);
$info: rgb(217, 157, 217);
$accordion-color: black;
$danger: rgb(20, 4, 110);
$card-border-color: rgb(20, 4, 110);
$info-boxes-color: rgb(173, 171, 239);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
