<!--Resources section-->

<!--PICTURE WHEN SCREEN SMALL-->

<div
  class="d-flex justify-content-center d-md-none d-lg-none d-lx-none d-sm-block mx-auto"
>
  <div class="d-flex flex-column justify-content-center">
    <h2
      style="font-family: 'Josefin Sans', sans-serif; font-weight: 500"
      class="text-center"
    >
      Online resources
    </h2>
    <div class="d-flex justify-content-center">
      <img
        src="../../static/devschool/resources.png"
        class="img-fluid mt-3 mb-5"
        style="height: 300px; max-width: 100%; object-fit: cover; padding: auto"
      />
    </div>
  </div>
</div>

<div class="row g-5">
  <!--ACCORDION-->
  <div class="accordion d-block col-md-7 px-5 px-md-0" id="accordion-advice">
    <!--1-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-eleven"
          aria-expanded="false"
          aria-controls="collapse-eleven"
          style="box-shadow: none"
        >
          <b>Online learning & Reference sites</b>
        </button>
      </h2>
      <div
        id="collapse-eleven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a href="https://www.w3schools.com/" target="_blank">w3schools</a>
          </p>
          <p>
            &#8594;
            <a href="https://developer.mozilla.org/en-US/" target="_blank"
              >Mozilla docs</a
            >
          </p>
        </div>
      </div>
    </div>
    <!--2-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-twelve"
          aria-expanded="false"
          aria-controls="collapse-twelve"
        >
          <b>Free deployment sites</b>
        </button>
      </h2>
      <div
        id="collapse-twelve"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594; <a href="https://vercel.com/" target="_blank">Vercel</a>
          </p>
          <p>
            &#8594; <a href="https://render.com/" target="_blank">Render</a>
          </p>
        </div>
      </div>
    </div>
    <!--3-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-thirteen"
          aria-expanded="false"
          aria-controls="collapse-thirteen"
        >
          <b>Design tools</b>
        </button>
      </h2>
      <div
        id="collapse-thirteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a
              href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
              target="_blank"
              >Bootstrap</a
            >
          </p>
          <p>
            &#8594;
            <a
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
              target="_blank"
              >Flexbox</a
            >
          </p>
        </div>
      </div>
    </div>
    <!--4-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-forteen"
          aria-expanded="false"
          aria-controls="collapse-forteen"
        >
          <b>Collaborate and Network</b>
        </button>
      </h2>
      <div
        id="collapse-forteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a href="https://github.com/" target="_blank">Github</a>
          </p>
          <p>
            &#8594;
            <a href="https://discord.com/" target="_blank">Discord</a>
          </p>
        </div>
      </div>
    </div>
    <!--5-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-fifteen"
          aria-expanded="false"
          aria-controls="collapse-fifteen"
        >
          <b>Challenge yourself</b>
        </button>
      </h2>
      <div
        id="collapse-fifteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a href="https://leetcode.com/" target="_blank">Leetcode</a>
          </p>
        </div>
      </div>
    </div>
    <!--6-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-sixteen"
          aria-expanded="false"
          aria-controls="collapse-sixteen"
        >
          <b>Interesting tools</b>
        </button>
      </h2>
      <div
        id="collapse-sixteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a href="https://regex101.com/" target="_blank"
              >Regular expressions</a
            >
          </p>
          <p>
            &#8594;
            <a href="https://date-fns.org/" target="_blank">Javascript dates</a>
          </p>
        </div>
      </div>
    </div>
    <!--7-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-seventeen"
          aria-expanded="false"
          aria-controls="collapse-seventeen"
        >
          <b>Podcasts</b>
        </button>
      </h2>
      <div
        id="collapse-seventeen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a href="https://freecodecamp.libsyn.com/" target="_blank"
              >freecodecamp</a
            >
          </p>
        </div>
      </div>
    </div>
    <!--8-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-eighteen"
          aria-expanded="false"
          aria-controls="collapse-eighteen"
        >
          <b>Best teachers online</b>
        </button>
      </h2>
      <div
        id="collapse-eighteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          <p>
            &#8594;
            <a
              href="https://www.youtube.com/@DaveGrayTeachesCode"
              target="_blank"
              >Dave Gray</a
            >
          </p>
          <p>
            &#8594;
            <a href="https://www.youtube.com/@SuperSimpleDev" target="_blank"
              >SuperSimpleDev</a
            >
          </p>
          <p>
            &#8594;
            <a href="https://www.youtube.com/@NetNinja" target="_blank"
              >The Net Ninja</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--PICTURE WHEN BIG-->

  <div
    class="d-none d-md-block col-md-5 d-flex flex-column align-items-center px-4 px-md-0"
  >
    <h1
      style="
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        color: black;
      "
      class="text-center my-2"
    >
      Online resources
    </h1>
    <div class="d-flex justify-content-center">
      <img
        src="../../static/devschool/resources.png"
        class="img-fluid"
        style="height: 350px; max-width: 100%; object-fit: cover; padding: auto"
      />
    </div>
  </div>
</div>
